@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 220 18% 18%;
    --foreground: 0 0% 98%;
    --card: 220 18% 23%;
    --card-foreground: 0 0% 98%;
    --popover: 220 18% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 208 71% 57%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 25.5%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217.2 32.6% 25.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 35 90% 65%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 32.5%;
    --input: 217.2 32.6% 28.5%;
    --ring: 208 71% 57%;
    --chart-1: 208 71% 57%;
    --chart-2: 35 90% 65%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 220 18% 18%;
    --foreground: 0 0% 98%;
    --card: 220 18% 23%;
    --card-foreground: 0 0% 98%;
    --popover: 220 18% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 208 71% 57%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 25.5%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217.2 32.6% 25.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 35 90% 65%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 32.5%;
    --input: 217.2 32.6% 28.5%;
    --ring: 208 71% 57%;
    --chart-1: 208 71% 57%;
    --chart-2: 35 90% 65%;
    --chart-3: 173 58% 39%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
